*{background-color: #1B1B25;

}
@font-face {
    font-family: Vazir;
    src: url(font/Vazir.ttf);
    display: flex;
    flex-wrap: wrap;
}
.white{
    color: white;
}
.font{
    font-family: Vazir;
}
.my_web{
    color: #924e53;
    font-size: 23;
}
.line{
    display: flex;
    margin: auto;
    width:60%;
    flex-wrap: wrap;
}
.flex_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.center{
    text-align: center;
    font-size: 23;
}
div>ul>img{
    height: 23px;
    margin: 15;
}
div>ul{
    text-align: center;
    margin-left:47px;
}
.summary{
    justify-content: center;
    margin: auto;
    width: 80%;
    text-align: center;
   
}
.skills-container {
    flex-direction: row;
    color: white; /* Light text */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 10px; /* Spacing between items */
  }
  .skill {
    text-transform:capitalize;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px; /* Rounded corners */
  }
  .experience{
    display: flex;
    flex-wrap: wrap;
    margin-right: 11%;
    justify-content: right;
    text-align: right;
    
    /* flex-direction: column; */
  }
  .company{
    font-size: 20px;
  }
  .role{
    font-size: 15px;
  }
  .project{
    font-size: 11px;
    margin-top: 5px;
  }
  .year{
    font-size: 21px;
    margin-top: 10px;
  }
  .text{
    margin: auto;
    width: 78%;
    text-align: right;
  }
